*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#0d0d0d;
color:#ffffff;
line-height:1.7;
}

header{
position:sticky;
top:0;
z-index:1000;
background:#111;
padding:20px 60px;
border-bottom:1px solid #222;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}


.menu{
display:flex;
gap:35px;
}

.menu a{
text-decoration:none;
color:white;
font-weight:bold;
}

.menu a:hover{
color:#c9a86a;
}

.hero{
width:100%;
padding:0;
margin:0;
}

.hero{
width:100%;
overflow:hidden;
}

.hero img{
width:100%;
height:auto;
display:block;
object-fit:cover;
}

section{
padding:80px 60px;
}

section h2{
font-size:38px;
margin-bottom:10px;
}

.playlist{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

audio{
width:100%;
}

#kontak p{
margin-bottom:10px;
}

@media(max-width:900px){

nav{
flex-direction:column;
gap:15px;
}

header{
padding:20px;
}

.menu{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.hero{
padding:0;
}

.hero img{
width:100%;
height:auto;
}

section{
padding:50px 20px;
}

.accordion{

width:100%;

background:#161616;

color:white;

padding:18px;

font-size:20px;

text-align:left;

border:none;

cursor:pointer;

margin-top:15px;

transition:.3s;

}

.accordion:hover{

background:#222;

}

.panel{

display:none;

padding:20px;

background:#111;

border-left:3px solid #c9a86a;

}

.brand{
font-size:28px;
}

.booking-btn{
padding:12px 25px;
}

}

.menu a{
font-size:16px;
}

@media(max-width:900px){

.menu a{
font-size:18px;
padding:5px;
}
.highlight{
    font-size:24px;
    font-weight:600;
}
  .lead{
    font-size: 22px;
    font-weight:500;
    line-height:1.6;
}
}
