*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#0d0d0d;
color:#ffffff;
line-height:1.7;
}

header{
position:sticky;
top:0;
z-index:1000;
background:#111;
padding:20px 60px;
border-bottom:1px solid #222;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
height:200px;
}

.menu{
display:flex;
gap:35px;
}

.menu a{
text-decoration:none;
color:white;
font-weight:bold;
}

.menu a:hover{
color:#c9a86a;
}

.hero{
display:grid;
grid-template-columns:40% 60%;
align-items:center;
gap:60px;
padding:80px 60px;
min-height:80vh;
}

.hero h1{
font-size:56px;
margin-bottom:20px;
}

.hero h2{
font-size:28px;
color:#c9a86a;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:35px;
}

.hero button{
padding:16px 30px;
font-size:18px;
border:none;
border-radius:50px;
cursor:pointer;
background:#c9a86a;
font-weight:bold;
}

.hero button:hover{
transform:translateY(-3px);
}

.hero-image img{
width:100%;
border-radius:20px;
}

section{
padding:80px 60px;
}

section h2{
font-size:38px;
margin-bottom:25px;
}

.playlist{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

audio{
width:100%;
}

#kontak p{
margin-bottom:10px;
}

@media(max-width:900px){

header{
padding:20px;
}

.menu{
display:none;
}

.hero{
grid-template-columns:1fr;
padding:50px 20px;
}

.hero h1{
font-size:40px;
}

section{
padding:50px 20px;
}

.playlist{
grid-template-columns:1fr;
}

}